

<br>
<div class="Pagination">
  <%= will_paginate @array,  :page_links => @page_links, :container => false %>
</div>



<div class="container">
  <div class="outer r4x3">
    <div class="FizzDiv">FIZZ!</div>
    <div class="BuzzDiv">BUZZ!</div>

    <div class="errorMessage">An error has occured!</div>
    <div class="inner">
      <%
         content=''
         content_size = 25
         @array.each_with_index do |number, index|
           content += '<p></p>' if index % content_size == 0
           if @numbers.include?(number.to_i)
             content += '<a class="numberCircle" id="link_'+"#{number}"+ '" style="color: gray;text-decoration:none">' + number + '</a><span>&nbsp;</span>'
           else
             content += '<a class="numberCircle" id="link_'+"#{number}"+ '" href="javascript:update(' + "#{@user.id}" +',' + "#{number}" +');" style="color: #b60715;">' + number + '</a><span>&nbsp;</span>'
           end
         end
      %>
      <%= content.html_safe %>
    </div>
  </div>
</div>
<br>
<div class="Pagination">
  <%= will_paginate @array,  :page_links => @page_links, :container => false %>
</div>


<script type="text/javascript">
    function update(id, number) {
        $.ajax({
            type: "PUT",
            url: "/users/" + id,
            data: {number: number},
            success: function () {
                $('#link_' + number + '').css("color", "gray").css("text-decoration", "none").removeAttr('href').attr('title', 'favourite!');
                if (number % 3 == 0) {
                    $(".FizzDiv").show().delay(2000).queue(function (n) {
                        $(this).fadeOut('slow');
                        $(this).remove();
                    });
                }
                if (number % 5 == 0) {
                    $(".BuzzDiv").show().delay(2000).queue(function (n) {
                        $(this).fadeOut('slow');
                        $(this).remove();
                    });
                }
            },
            error: function () {
                $('#link_' + number + '').css("color", "gray").css("text-decoration", "none").removeAttr('href');

                $("#.errorMessage").show().delay(2000).queue(function (n) {
                    $(this).fadeOut('slow');
                    $(this).remove();
                });

            }
        });


    }
</script>

